<div class="text-center ">
  <h3>Login to <strong>Ecommerce</strong></h3>
</div>
<form (ngSubmit)="submit()" [formGroup]="loginForm" >
  <div class="form-group first">
    <label for="username">Username</label>
    <input
      type="text"
      class="form-control" formControlName="email"
      placeholder="your-email@gmail.com"
      id="username"
    />
  </div>
  <div class="form-group last mb-3">
    <label for="password">Password</label>
    <input
      type="password"
      class="form-control"
      placeholder="Your Password" formControlName="password"
      id="password"
    />
  </div>

  <div class="d-sm-flex mb-5 align-items-center">
    <label class="control control--checkbox mb-3 mb-sm-0"
      ><span class="caption">Remember me</span>
      <input type="checkbox" checked="checked" />
      <div class="control__indicator"></div>
    </label>
    <span class="ml-auto"
      ><a href="#" class="forgot-pass">Forgot Password</a></span
    >
  </div>

  <input  style="background-color: #f26522;border-color: #f26522;" type="submit" value="Log In" class="btn btn-block btn-primary" />
</form>
